<div class="map-panel">
    <div class="map-container" style="width:{{ctrl.mapWidth}}px;height:{{ctrl.mapHeight}}px;">
        <div class="map-box" style="background-image: url('public/plugins/simple-angular-panel/img/map_v2.svg');"></div>
        <div ng-repeat="circle in ctrl.circleInfo">
            <div class="circle" style="width:{{circle.size}}px;height:{{circle.size}}px;top:{{circle.lat}}%;left:{{circle.lng}}%;background-image:url('public/plugins/simple-angular-panel/img/circle-{{circle.type}}.png');"></div>
            <!-- <div class="line" style="left: {{circle.lng}}%;top:{{circle.lat}}%;transform: rotate({{rotate}}rad);"></div>
            <div class="point" style="width: 4px; height: 4px;"></div> -->
        </div>
    </div>
</div>